<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>WebAuth</display-name>
	<request-character-encoding>UTF-8</request-character-encoding>
	<response-character-encoding>UTF-8</response-character-encoding>

	<listener>
		<listener-class>com.foxmail.gaoyang136.webauth.ulit.DataSourceUlit</listener-class>
	</listener>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.foxmail.gaoyang136.webauth.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.foxmail.gaoyang136.webauth.servlet.LogoutServlet</servlet-class>
	</servlet>
	<!-- Initial parameters must be consistent with CredentialHandler element in context.xml! -->
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.foxmail.gaoyang136.webauth.servlet.RegistServlet</servlet-class>
		<init-param>
			<param-name>handlerClassName</param-name>
			<param-value>org.apache.catalina.realm.MessageDigestCredentialHandler</param-value>
		</init-param>
		<init-param>
			<param-name>algorithm</param-name>
			<param-value>SHA-256</param-value>
		</init-param>
		<init-param>
			<param-name>iterations</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>saltLength</param-name>
			<param-value>8</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>com.foxmail.gaoyang136.webauth.servlet.CaptchaServlet</servlet-class>
		<init-param>
			<param-name>pictureWidth</param-name>
			<param-value>80</param-value>
		</init-param>
		<init-param>
			<param-name>pictureHeight</param-name>
			<param-value>30</param-value>
		</init-param>
		<init-param>
			<param-name>captchaLength</param-name>
			<param-value>4</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/user/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/user/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/user/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/user/captcha/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CSRFRewriteFilter</filter-name>
		<filter-class>com.foxmail.gaoyang136.webauth.filter.CSRFRewriteFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>tokenName</param-name>
			<param-value>token</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CSRFRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<!-- The dispatch type of ERROR use original ServletRequest and ServletResponse! -->
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/errorpages/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/errorpages/403.jsp</location>
	</error-page>
	<error-page>
		<location>/WEB-INF/jsp/errorpages/error.jsp</location>
	</error-page>
	<deny-uncovered-http-methods/>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>any</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>logout</web-resource-name>
			<url-pattern>/user/logout</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>**</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>test</web-resource-name>
			<url-pattern>/test</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>audit</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role>
		<description>Web register user</description>
		<role-name>web_user</role-name>
	</security-role>
	<security-role>
		<description>System manager</description>
		<role-name>sys_admin</role-name>
	</security-role>
	<security-role>
		<description>Audit log manager</description>
		<role-name>audit</role-name>
	</security-role>
	<security-role>
		<description>System users manager</description>
		<role-name>user_admin</role-name>
	</security-role>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DataBase Connection</description>
		<res-ref-name>jdbc/AuthDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
